html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-sm {
    text-align: center;
    background-color: #262626;
    display: block;
    width: 100px;
    margin: 7px;
}

.btn-sm a {
    color: #fafafa;
}

.m-bt-3 {
    margin-bottom: 30px;
}

/*----------navigation-----*/

.bg-nav {
    background-color: #222;
}

.navbar {
    display: block;
}

.menuitem {
    height: 54px;
    text-align: right;
    padding-top: 20px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 54px;

}



.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
}

.menuitem span:hover {
    transition-duration: 0.02s;
    text-decoration: underline;
}

.navbar {
    background-color: transparent;
}

.navbar {
    padding-bottom: 5px
}


/*------home--------*/

.hero-image {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url(https://timedotcom.files.wordpress.com/2016/10/rolling-stones.jpg?quality=85);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;


}

.quotes {
    font-family: serif;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 25%;
    padding-left: 20%;
    display: inline-block;
}

.author {
    text-align: left;
    font-family: sans-serif;
    font-size: 1.5em;
    text-decoration: underline;
    color: #bbc1cc;
}

.quote {
    text-align: left;
    font-family: monospace;
    color: #b1b9c9;
}

/*------home-END--------*/

/*------The Band--------*/

.team-title {
    text-align: center;
    font-family: "roboto", sans-serif;
    font-size: 1.7em;
    margin-top: 50px;
    margin-bottom: 50px;
}

.band-member {
    text-align: center;
    margin-bottom: 25px;
}

.cover-image {
    width: 250px;
    height: 250px;
    border-radius: 35%;
}

.member-name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-style: italic;
    color: #000000;
}

.member-skills {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 1.2em;
}

/*------The Band -END--------*/

/*------Bio--------*/

.bio-card ul {
    display: block;
    width: 100%;
    height: auto;
    list-style-type: none;
    margin-top: 25px;
    margin-left: -20px;
}

.bio-card-2 {
    margin-top: 55px;
}

.bio-image img {
    display: block;
    list-style-type: none;
}

.bio-image-bottom img {
    display: block;
    list-style-type: none;
    margin-bottom: 25px;
}

.bio-name {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    letter-spacing: 5px;
    text-decoration: underline;
}

.bio-description {
    font-family: 'Raleway', sans-serif;
    display: block;
    margin-top: 7px;
}

/*------Bio -END------*/

/*------Gallery------*/

.gallery-img-container {

    margin-top: 50px;
    margin-bottom: 0;

}

.gallery-img-container img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*------Gallery -END------*/

/*------Music------*/

.music-card {
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    border-style: solid;
}

.music-cover-img img {
    margin-right: auto;
    margin-left: auto;
}

.music-cover-img-rt {
    float: right;
}

.music-cover-img-rt img {
    margin-right: auto;
    margin-left: auto;
}

.music-player {
    height: 50%;
    text-align: left;
}

.music-player audio {
    margin-top: 15px;

}

.music-description p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-align: left;
    text-decoration: underline;
    padding-top: 20px;
}

.music-description span {
    display: block;
    text-align: left;
    line-height: 2em;
    letter-spacing: 2px
}

@media only screen and (max-width: 768px) {
    .music-player,
    .music-description p,
    .music-description span {
        text-align: center;
    }
}

.music-ad {
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    padding: 15px;

}

.music-ad iframe {
    width: 300px;
    height: 380px;
    margin: 0;
    padding: 0;
    border: none;
}

/*------Music -END------*/

/*------Video------*/

.showcase-item {
    padding-top: 40px;

}

.showcase-item iframe {
    box-shadow: 5px 10px #888888;
}

.showcase-item,
p {
    text-align: center;
}

.showcase-item p {
    font-family: serif;
    color: #222;
    font-size: 1.5em;
}

.showcase-item iframe {
    width: 360px;
    height: 257px;
    margin: 0;
    padding: 0;
    border: none;
}

/*------Video-End------*/

/*------Calendar------*/

.calendar-base {
    text-align: center;
    width: 442px;
    height: auto;
    position: relative;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 600px) {
  .calendar-base {
      display:block;
      text-align: center;
    width:270px;
     height: auto;
    position: relative;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
.arrow-left {
    float: left;
    position: relative;
    left: 40%;
    top: -17px;
}
@media only screen and (max-width: 600px) {
  .arrow-left {
    float: left;
    position: relative;
    left: 35%;
    top: -17px;
}
}

.arrow-right {
    float: right;
    position: relative;
    right: 40%;
    top: -17px;
}
@media only screen and (max-width: 600px) {
  .arrow-right {
    float: right;
    position: relative;
    right: 35%;
    top: -17px;
}
}

.months {
    background-color: #74e088;
    word-spacing: 5px;
}
.month-line {
    color: #000;
    border-color: #E8E8E8;
    position: relative;
    top: -15px;
    width: 90%;
}

.days {
    color: #AAAAAA;
    position: relative;
    font-size: 15px;
    top: -25px;
    word-spacing: 5px;
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .days {
    color: #AAAAAA;
    position: relative;
    top: -25px;
    font-weight: 100;
  }
}
.num-dates {
    float: none;
    position: relative;
    word-spacing: 20px;
    top: -15px;

}

.grey {
    color: #AAAAB1;
}

.first-week {
    height: 35px;
}

.second-week {
    height: 35px;
}

.third-week {
    height: 45px;
}

.fourth-week {
    height: 45px;
}

.fifth-week {
    height: 35px;
}

.event-date {
    background-color: #74e088;
    border-radius: 90%;
}

.event {
    float: none;
    position: relative;
    top: -120px;
    left: 130px;
    display: inline-block;
    background-color: #74e088;
    border-radius: 20%;
}

.event-two {
    float: none;
    position: relative;
    top: -75px;
    left: -30px;
    display: inline-block;
    background-color: #74e088;
    border-radius: 20%;
}

.event a,
.event-two a {
    color: #222;
}

.active-day {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #2ECC71;
    position: relative;
    top: -238px;
    left: 85px;
    opacity: 0.5
}

@media only screen and (max-width: 600px) {
  .active-day {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #2ECC71;
    position: relative;
    top: -238px;
    left:0;
    opacity: 0.5
}
}
/*------Calendar-END------*/

/*------Contact------*/

.contact-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}

.contact-invite {
    text-align: left;
    margin-left: 35px;
    margin-right: 35px;
}

.contact-address {
    text-align: left;
}

.contact-address-item {
    padding: 18px;
    color: #696969;
}

.btn-dark {
    color: #d3d3d3;
    background-color: #222
}

/*------Contact-END------*/

/*------footer------*/

.social-links {
    text-align: center;
    padding-top: 32px;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 19px;
    line-height: 7px;
    text-align: center;
    color: #e84610;
    background: #fafafa;

}

.social-links li a i:hover {
    background: rgba(255, 255, 255, .5);
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;

}

.terms {
    text-align: center;
}

.terms i {
    text-align: center;
    height: 30px;
    padding: 12px 0;
    display: block;
    color: rgba(255, 255, 255, .5);
    font-size: 15px;
    width: 100%;
    text-decoration: none;
}

.copyright {
    padding: 15px;
    text-align: center;
}

.copyright-text {
    color: rgba(255, 255, 255, .5);
    font-style: italic;
}

/*------footer-END-----*/
